@model object
@{
    ViewBag.Title = "Prototype Page";
}
<div id="code" class="clearfix">
    <div id="left" class="editor fl" onclick="this.contentEditable='true';" onblur="this.contentEditable=false;">
        <textarea>This is a sample code</textarea>
    </div>
    <div id="right" class="fr">
        <div id="model">
            <div class="tModel visual_search">
                &nbsp;
            </div>
            <table id="modelProps">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Type
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Prop1
                        </td>
                        <td>
                            int
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Prop2
                        </td>
                        <td>
                            bool
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Prop3
                        </td>
                        <td>
                            string
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="results">
    <div id="resultTabs" class="tabs results">
        <ul>
            <li><a href="#tabs-1">Output</a></li>
            <li><a href="#tabs-2">Generated Code</a></li>
        </ul>
        <div id="tabs-1">
            <p>
                Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec
                arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante.
                Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper
                leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales
                tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel
                pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum.
                Nunc tristique tempus lectus.</p>
        </div>
        <div id="tabs-2">
            <p>
                Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra
                massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget
                luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean
                aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent
                in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat
                nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque
                convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod
                felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
        </div>
    </div>
</div>


<script type="text/javascript" charset="utf-8">
    $(function () {
        $('#resultTabs').tabs();
        VS.init({
            container: $('.visual_search'),
            query: '',
            callbacks: {
                search: function (query) { },
                facetMatches: function (callback) {
                    callback([
                            'bool', 'byte', 'sbyte', 'char', 'decimal', 'double', 'float', 'int', 'uint', 'long', 'ulong', 'object', 'short', 'ushort', 'string'
                           ]);

                },
                valueMatches: function (facet, searchTerm, callback) { }
            }
        });
    });
</script>
