<div class="editorContainer">
    <div id="modelHeader" class="paneheader">
        <div class="title">
            Model</div>
        <div class="tabBar">
            <a href="#simple">Simple</a><span class="separator">|</span><a
                href="#geeky"> Geeky</a>
        </div>
    </div>
    <div id="modelEditor" class="editor model">
    </div>
</div>
<script type="text/javascript" charset="utf-8">

    $(function () {
        $('#modelHeader').hpTabs(); 
        var modelEditor = ace.edit("modelEditor");
        var CSharpMode = require("ace/mode/csharp").Mode;
        modelEditor.getSession().setMode(new CSharpMode());
    });
</script>
