<div class="editorContainer">
    <div id="viewHeader" class="paneheader">
        <div class="title">
            View</div>
    </div>
    @*<div id="razorEditor" class="editor model watermarkOn" contentEditable="true">
    </div>*@
    <textarea id="razorEditor" cols="80" rows="20" class="editor"></textarea>
</div>
<script type="text/javascript" charset="utf-8">

    $(function() {
        $('#razorEditor').val('<h1>Hello @@Model.Name</h1>');
        // ace editor needs explicityly sized div
        //resizeEditor($('#razorEditor').watermark('razor here'));
//        var razorEditor = ace.edit("razorEditor");
//        var HtmlMode = require("ace/mode/html").Mode;
//        razorEditor.getSession().setMode(new HtmlMode());

        //$(window).resize(function () { resizeEditor($('#razorEditor')); });
    });
    

</script>
