<div class="editorContainer">
    <div id="viewHeader" class="paneheader">
        <div class="title">
            View</div>
    </div>
    <div id="razorEditor" class="editor model watermarkOn">
    </div>
</div>
<script type="text/javascript" charset="utf-8">

    $(function () {
        var razorEditor = ace.edit("razorEditor");
        var HtmlMode = require("ace/mode/html").Mode;
        razorEditor.getSession().setMode(new HtmlMode());
    });
</script>
