<div class="tabContainer">
    <div class="tabBar">
        <a href="#rendered-output-container">Rendered Output</a> <a href="#template-output-container">
            Template Output</a> <a href="#parser-result-container">Parser Results</a> <a href="#generated-code-container">
                Generated Code</a> <a href="#messages-container">Messages</a>
    </div>
</div>
