<div class="tabContainer">
    <div class="tabBar">
        <a href="#rendered-output-container">Rendered Output</a><span class="separator">|</span><a
            href="#template-output-container"> Template Output</a><span class="separator">|</span><a
                href="#parser-result-container">Parser Results</a><span class="separator">|</span><a
                    href="#generated-code-container"> Generated Code</a><span class="separator">|</span><a
                        href="#messages-container">Messages</a>
    </div>
    <div class="tabPanels">
        <div id="rendered-output-container">
        </div>
        <div id="template-output-container">
            <pre id="template-output" class="prettyprint"></pre>
        </div>
        <div id="parser-result-container"></div>
        <div id="generated-code-container"></div>
        <div id="messages-container">
            <ul id="messages"></ul>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(function () {
        $('div.tabContainer').hpTabs(); 
    });
</script>
