<div id="left" class="editor grid_6 alpha">
    <textarea id="template" name="template" class="watermarkOn" rows="20" cols="80">
<h1>Welcome to RazorPad Online!</h1>
<div>The time is: @@DateTime.Now</div>
</textarea>
</div>
<div id="right" class="grid_6 omega">
    <table id="model">
    </table>
</div>
<div class="clear">
</div>
<div class="results grid_12">
    <div id="resultTabs" class="tabs results">
        <ul>
            <li><a href="#rendered-output-container">Rendered Output</a></li>
            <li><a href="#template-output-container">Template Output</a></li>
            <li><a href="#parser-result-container">Parser Results</a></li>
            <li><a href="#generated-code-container">Generated Code</a></li>
            <li><a href="#messages-container">Messages</a></li>
        </ul>
        <div id="rendered-output-container">
            <div id="rendered-output">
            </div>
        </div>
        <div id="template-output-container">
            <pre id="template-output" class="prettyprint"></pre>
        </div>
        <div id="parser-result-container">
        </div>
        <div id="generated-code-container">
        </div>
        <div id="messages-container">
            <ul id="messages">
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $('#resultTabs').tabs();

        var lastsel2;
        $("#model").jqGrid({
            datatype: "json",
            colNames: ['Type', 'Property', 'Value'],
            colModel: [
   		                  { name: 'type', index: 'type', width: 100, sortable: false, editable: true, edittype: "select", editoptions: { value: "int:int; string:string; bool:bool" }, editrules: { required: true} },
   		                  { name: 'prop', index: 'prop', width: 300, sortable: false, editable: true },
   		                  { name: 'val', index: 'val', width: 250, sortable: false, editable: true }
   	                  ],
            rowNum: 10,
            rowList: [10, 20, 30],
            viewrecords: true,
            caption: "Model",
            onSelectRow: function (id) {
                if (id && id !== lastsel2) {
                    $('#model').restoreRow(lastsel2);
                    $('#model').editRow(id, true);
                    lastsel2 = id;
                }
            }

        });

        var mydata = [
		{ type: "int", prop: "Index", val: "5" },
		{ type: "string", prop: "Name", val: "John" },
		{ type: "bool", prop: "IsDone", val: "true" }
		];
        for (var i = 0; i <= mydata.length; i++)
            $("#model").jqGrid('addRowData', i + 1, mydata[i]);

    });
</script>
