<div id="code" class="clearfix">
    <div id="left" class="editor fl">
        <div>
            Razor Markup</div>
        <textarea id="template" name="template" rows="20" cols="80"></textarea>
        <div id="buttons-container">
            <button id="generate-code">
                Generate Code</button>
            <button id="execute">
                Execute</button>
        </div>
    </div>
    <div id="right" class="fr">
        <div id="model">
            <div class="tModel visual_search">
                &nbsp;
            </div>
            <table id="modelProps">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Type
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Prop1
                        </td>
                        <td>
                            int
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Prop2
                        </td>
                        <td>
                            bool
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Prop3
                        </td>
                        <td>
                            string
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="results">
    <div id="resultTabs" class="tabs results">
        <ul>
            <li><a href="#template-output-container">Template Output</a></li>
            <li><a href="#parser-result-container">Parser Results</a></li>
            <li><a href="#generated-code-container">Generated Code</a></li>
            <li><a href="#messages-container">Messages</a></li>
        </ul>
        <div id="template-output-container">
            <div id="template-output">
            </div>
        </div>
        <div id="parser-result-container">
            <pre id="parser-results" class="prettyprint"></pre>
        </div>
        <div id="generated-code-container">
            <pre id="generated-code" class="prettyprint"></pre>
        </div>
        <div id="messages-container">
            <ul id="messages">
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/RazorPad.js")"></script>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $('#resultTabs').tabs();
        //$.SyntaxHighlighter.init();
        //prettyPrint();
    });
</script>
