
/* Hp Styles -------------------------------------------------------------- */

.actionItems li
{
	cursor: pointer;
	display: inline;
	margin-right: 10px;
	list-style: none;
}

#code
{
	margin-bottom: 10px;
}

.editor textarea
{
	height: 100%;
	width: 100%;
}

/* End Hp Styles -------------------------------------------------------------- */


.results .ui-tabs .ui-tabs-panel
{
	padding: 0;
	height: 280px;
	max-height: 280px;
}

.results .ui-widget-content
{
	border: none;
}

iframe
{
	width: 100%;
}

#template-output-container
{
	padding: 30px 20px;
}

.syntaxhighlighter
{
	max-height: 280px;
}
