
/* Hp Styles -------------------------------------------------------------- */

html, body
{
    height: 100%;
    overflow: hidden;
    font: 85% Segoe UI,Arial,Verdana,Helvetica,sans-serif;
}

body, div
{
    border: 0px solid gray;
}

table {
	table-layout: fixed;
	width: inherit;
	height: inherit;
}

.container
{
    height: 100%;
}
.actionItems li
{
    cursor: pointer;
    display: inline;
    margin-right: 10px;
    list-style: none;
}


/* End Hp Styles -------------------------------------------------------------- */


iframe
{
    width: 100%;
}

#resultsPane, .tabContainer, .panes, #content
{
    height: 100%;
    width: 100%;
}


.tabBar
{
    background-color: #BCC7D8;
    height: 20px;
    padding: 2px 0 2px 0px;
}

.tabContainer
{
    position: relative;
}

.tabPanels
{
    border: 1px solid #8A8FAB;
    width: 100%;
    position: absolute;
    top: 24px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.tabPanels > div
{
    display: none;
}

.tabPanels div
{
    height: 100%;
    width: 100%;
}

.tabBar a, span
{
    padding: 1px;
    vertical-align: bottom;
    display: inline-block;
}

.tabBar a
{
    text-decoration: none;
    color: #000;
    outline: none;
}

.tabBar a.selected
{
    background-color: #FFEFBB;
    border: 1px solid #E5C365;
    position: relative;
}

.tabBar a:hover
{
    background-color: #FFFCF4;
}

.tabBar span.separator
{
    margin: 0 2px;
    color: #8591A2;
    vertical-align: inherit;
}


.panes
{
    height: 100%;
    width: 100%;
    background-color: #8A8FAB;
}

.panes > div
{
    overflow: auto;
}

.leftPane
{
    width: 49.8%;
    height: 100%;
    border-right: 1px solid #8A8FAB;
}


.inlinebox
{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1; /**display: inline;*/
}

.rightPane
{
    width: 49.8%;
    height: 100%;
    margin-left: 0;
}


.topPane
{
    height: 60%;
    width: 100%;
    background-color: #35496A;
}

.ace_content
{
    background-color: white;
}


.bottomPane
{
    height: 40%;
    width: 100%;
    background-color: white;
}


/* splitter styles */

/* Splitbar styles; these are the default class names and required styles */
.splitbarV
{
    float: left;
    width: 6px;
    height: 100%;
    line-height: 0px;
    font-size: 0px;
    border-left: solid 1px #9cbdff;
    border-right: solid 1px #9cbdff;
    background: #cbe1fb url(themes/default/images/splitter/panev.gif) 0% 50%;
}
.splitbarH
{
    height: 6px;
    text-align: left;
    line-height: 0px;
    font-size: 0px;
    border-top: solid 1px #9cbdff;
    border-bottom: solid 1px #9cbdff;
    background: #cbe1fb url(themes/default/images/splitter/paneh.gif) 50% 0%;
}

.splitbuttonV
{
    margin-top: -41px;
    margin-left: -4px;
    top: 50%;
    position: relative;
    height: 83px;
    width: 10px;
    background: transparent url(themes/default/images/splitter/panevc.gif) 10px 50%;
}
.splitbuttonV.invert
{
    margin-left: 0px;
    background: transparent url(themes/default/images/splitter/panevc.gif) 0px 50%;
}
.splitbuttonH
{
    margin-left: -41px;
    left: 50%;
    position: relative;
    height: 10px !important;
    width: 83px;
    background: transparent url(themes/default/images/splitter/panehc.gif) 50% 0px;
}
.splitbuttonH.invert
{
    margin-top: -4px;
    background: transparent url(themes/default/images/splitter/panehc.gif) 50% -10px;
}
.splitbarV.working, .splitbarH.working, .splitbuttonV.working, .splitbuttonH.working
{
    -moz-opacity: .50;
    filter: alpha(opacity=50);
    opacity: .50;
}

/* end splitter styles */

.editorContainer
{
    position: relative;
    height: 100%;
    width: 100%;
}
.editor
{
    position: relative;
    /*top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
}


.watermarkOn
{
    color: #CCCCCC;
    font-style: italic;
}

#modelEditor
{
    /*top: 40px;*/
	height: 100%;
    
}

#modelGrid {
	width: 99.8%;
	height: 100%;
	
}

#modelGrid td {
	border: solid 1px lightgrey;
	vertical-align: middle;
	font-size: 100%;
	line-height: normal;
}

#razorEditor
{
    /*top: 16px;*/

	position: relative;
	height: 100%;
	width: 99.8%;
	border: solid 1px #465A7D;
}

#header
{
    padding-left: 0.2%;
}


.paneheader .title
{
    background-color: #465A7D;
    color: White;
    height: 16px;
    width: 99.9%;
    padding-left: 0.1%;
}

.paneheader .tabBar 
{
    top: 16px;
    padding-left: 0.1%;
    width: 99.9%;
}

.container_12 {
	width: 100%;
}

.container_12 .grid_1 {
	width:6.333%;
}

.container_12 .grid_2 {
	width:14.667%;
}

.container_12 .grid_3 {
	width:23.0%;
}

.container_12 .grid_4 {
	width:31.333%;
}

.container_12 .grid_5 {
	width:39.667%;
}

.container_12 .grid_6 {
	width:48.0%;
}

.container_12 .grid_7 {
	width:56.333%;
}

.container_12 .grid_8 {
	width:64.667%;
}

.container_12 .grid_9 {
	width:73.0%;
}

.container_12 .grid_10 {
	width:81.333%;
}

.container_12 .grid_11 {
	width:89.667%;
}

.container_12 .grid_12 {
	width: 100%;
}



/* table view styles */
#main {
	width: 100%;
	height: 100%;
	table-layout: fixed;
	border: 1px solid #465A7D;
	
}

#main .topRow {
	height: 65%;
}

#main .bottomRow {
	height: 35%;
}


/* end table view styles */