<div class="panes">
    <div class="topPane clearfix">
        <div id="razorPane" class="inlinebox leftPane">
            @Html.Partial("_RazorPane")
        </div>
        <div id="modelPane" class="inlinebox rightPane">
            @Html.Partial("_ModelPane")
        </div>
    </div>
    <div class="bottomPane">
        <div id="resultsPane" class="">
            @Html.Partial("_ResultsPane")
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">

    //    $(function () {

    //    });
</script>
